.social-nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 4rem;
    left:  -5rem;
    padding: 0;
    background-color: var(--negro);
    border-radius: 0 0 .5rem 0 ;
    animation-name: social;
    animation-duration: .3s;
    animation-delay: 4.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    z-index: 40;
}
@keyframes social {
    100%{
        left: 0;
    }
}
.iconBoton{
    margin: .5rem 0;
    transition: .3s transform ease;
}
.iconBoton:hover{
    transform: translateX(-5px);
}
.icono{
    color: var(--amarilloSombra);
    font-size: 3rem;

    padding: .5rem;
}