<section id="experiencia" class="experiencia">
  <div class="mi-experiencia">
    <h2 class="h2">Experiencia</h2>
    <div class="experiencia__cards">

      <div class="experiencia-programacion">
        <div class="card-prog">
          <img src="../assets/img/expimg/career.png" class="card__img-prog">
          <div class="card__textos-prog">
            <h3 class="h3-prog">Front End Developer</h3>
            <p class="p-prog">desde: <span class="span-prog">2019</span> hasta: <span class="span-prog">2020</span> </p>
            <p class="p-prog"> Empresa: <span class="span-prog">Experiencia freelancer</span></p>

            <p class="p-prog-text">Desarrollador de sitios web para pequeñas y medianas empresas. </p>
            <p class="p-prog-text">Diseñador UX/UI. </p>
            <p class="p-prog-text">Tecnologías utilizadas: <span class="span-prog">HTML, CSS, Java Script, Wordpress,
                Figma</span></p>
          </div>
        </div>
      </div>


      <div class="experiencia-complementaria">
        <button (click)="toogleMenu()" class="boton">Experiencia complementaria <i
            class="icono-t fa-solid fa-chevron-down"></i></button>
        <div class="card-box">
          <div class="card" *ngFor="let experiencia of experiencias">
            <img src="{{experiencia.imagen}}" alt="atencion al cliente" class="card__img">
            <div class="card__textos">
              <h3 class="h3">{{experiencia.h3}}</h3>
              <p class="p">desde: <span class="span">{{experiencia.desde}}</span> hasta: <span
                  class="span">{{experiencia.hasta}}</span> </p>
              <p class="p">{{experiencia.experiencia}}</p>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</section>
