.experiencia{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mi-experiencia{
    background-color: var(--negro);
    margin-top: 4rem;
    width: 100%;
    height: 90%;
    padding: 5%;
}
.experiencia__cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 95%;
    border: 4px solid var(--amarillo);
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 1px var(--amarilloSombra);
}
.card__img{
    height: 200px;
    background-color: var(--amarillo);
}
.h3{
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--amarillo);
}
.p{
    margin-top: 20px;
}
.span{
    color: var(--amarillo);
}

/*PC*/

@media (min-width: 992px) {
    .card{
        flex-direction: row;
        justify-content: start;
        gap: 50px;
        align-items: flex-start;
    }
}