<section id="skills" class="skills">

  <div class="mis-skills">

    <div class="mis-skills__box">
      <h2 class="h2">Skills</h2>
      <div *ngFor="let skill of skills" class="skill" [class]=" skill.class">
        <h3 class="h3">{{skill.nombre}}</h3>
        <i [class]="skill.icono " class="icono"></i>
        <p>{{skill.nivel}}</p>
      </div>
    </div>

  </div>
</section>






<!-- <div class="skill" *ngFor="let skill of skills">
      <p>{{skill.nombre}}</p>
      <i class="{{skill.icono}}"></i>
    </div> -->
