<section class="porfolio" id="porfolio">
  <div class="mi-porfolio">

    <div class="porfolio__grid">
      <h2 class="h2">Porfolio</h2>

      <div class="box box1">
        <img src="../assets/img/port-1.jpg" alt="portfolio html css js" class="imagen">
        <div class="info">
          <h3>Porfolio alternativo</h3>
          <p>Tecnologías: <span>HTML CSS JS</span></p>
          <button><i class="fa-brands fa-github"></i> ver en github</button>
        </div>
      </div>
      <div class="box box2">
        <img src="../assets/img/port-2.jpg" alt="portfolio html css js" class="imagen">
        <div class="info">
          <h3>Porfolio alternativo</h3>
          <p>Tecnologías: <span>HTML CSS JS</span></p>
          <button><i class="fa-brands fa-github"></i> ver en github</button>
        </div>
      </div>
      <div class="box box3">
        <img src="../assets/img/port-3.jpg" alt="portfolio html css js" class="imagen">
        <div class="info">
          <h3>Porfolio alternativo</h3>
          <p>Tecnologías: <span>HTML CSS JS</span></p>
          <button><i class="fa-brands fa-github"></i> ver en github</button>
        </div>
      </div>

      <div class="box box4">
        <img src="../assets/img/port-4.jpg" alt="portfolio html css js" class="imagen">
        <div class="info">
          <h3>Porfolio alternativo</h3>
          <p>Tecnologías: <span>HTML CSS JS</span></p>
          <button><i class="fa-brands fa-github"></i> ver en github</button>
        </div>
      </div>

    </div>
  </div>
</section>
