<section class="porfolio" id="porfolio">
  <div class="mi-porfolio">

    <div class="porfolio__grid">
      <h2 class="h2">Porfolio</h2>

      <div class="box box1">
        <img src="../assets/img/animScroll.png" alt="animacion Angular Type Script CSS3" class="imagen">
        <div class="info">
          <h3>Animacion con efecto parallax</h3>
          <p>Tecnologías: <span>Angular Type Script CSS3</span></p>
          <a href="https://github.com/AndresBiasutto/scroll-animado" target="_blank"> <button><i
                class="fa-brands fa-github"></i>
              ver en github</button></a>
        </div>
      </div>
      <div class="box box2">
        <img src="../assets/img/port-2.jpg" alt="portfolio html css js" class="imagen">
        <div class="info">
          <h3>Porfolio alternativo</h3>
          <p>Tecnologías: <span>HTML CSS JS</span></p>
          <button><i class="fa-brands fa-github"></i> ver en github</button>
        </div>
      </div>
      <div class="box box3">
        <img src="../assets/img/port-3.jpg" alt="portfolio html css js" class="imagen">
        <div class="info">
          <h3>Portfolio alternativo</h3>
          <p>Tecnologías: <span>HTML CSS JS</span></p>
          <a href="https://github.com/AndresBiasutto/portfolio-argentina-programa" target="_blank"><button><i
                class="fa-brands fa-github"></i> ver en github</button></a>
        </div>
      </div>

      <div class="box box4">
        <img src="../assets/img/port-4.jpg" alt="portfolio html css js" class="imagen">
        <div class="info">
          <h3>Sitio para tienda de belleza femenina</h3>
          <p>Tecnologías: <span>HTML CSS JS</span></p>
          <button><i class="fa-brands fa-github"></i> ver en github</button>
        </div>
      </div>

    </div>
  </div>
</section>
