.porfolio{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mi-porfolio{
    background-color: var(--amarilloSombra);
    margin-top: 4rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.porfolio__grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "h2tit h2tit porf2 porf2"
                         "porf1 porf1 porf2 porf2"
                         "porf1 porf1 porf3 porf3"
                         "porf4 porf4 porf3 porf3"
                         "porf4 porf4 porf3 porf3";
    height: 90%;
    gap: 10px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.box{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--negro);
    overflow: hidden;
    transition: all .3s ease;
    border: 5px solid var(--negro);
}

.imagen{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease;
    filter: blur(0);
}
.info{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    width: 100%;
    background-color: var(--negro);
    padding: 20px;
    transform: translateY(-100%);
    transition: all .3s ease;
}
.box:hover{
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 0 black;
}
.box:hover > .info{
    transform: translateY(0);
}
.box:hover > .imagen{
    filter: blur(5px) grayscale(100%);

}
.info button{
    width: 100%;
    padding: 5px;
    background-color: var(--amarilloSombra);
    border: none;
    border-radius: 2px;
    color: var(--negro);
    transition: all .3s ease-in-out;
}
.info button:hover{
    background-color: var(--amarillo);
    color: var(--blanco);
}
.h2{
    grid-area: h2tit;
    text-align: center;
    color: var(--negro);
}
.box1{
grid-area: porf1;
}
.box2{
    grid-area: porf2;
}
.box3{
    grid-area: porf3;
}
.box4{
    grid-area: porf4;
}

/*PC*/

@media (min-width: 992px) {
    .info{
        height: 100%;
        width: 50%;
        transform: translateX(-100%);
    }
    .box:hover > .info{
        transform: translateX(0);
    }
}